@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }

    .animation-delay-4000 {
        animation-delay: 4s;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900;1000&display=swap');


body {
    background-color: #101011;
    background-image: url('../assets/stars.svg');
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    ;
}